body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 10px 20px 5px 20px;
    width: 100%;
    position: fixed;
    background-color: #CD5360;
    z-index: 1;
}

h1 {
    padding-left: 10px;
    font-size: 1.75rem;
    color: #FCF5E5;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-right: 10px;
    width: 30%;
    font-size: 1.5rem;
}

#nav-links a {
    text-decoration: none;
    color: #FCF5E5;
}

#nav-links a:hover {
    text-decoration: none;
    color: #1E90FF;
    font-size: 1.6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    background-color: #FCF5E5;
}

h2 {
    padding: 10px 0px;
}

hr {
    width: 30%;
    z-index: 0;
}

#about-me-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#description-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 30px 0px 50px 0px;
}

#description {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 50px;
    width: 50%;
}

#profile-img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

#skill-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h3 {
    font-size: 1.75rem;
}

#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
}

#html-logo:hover {
    color: orange;
}
#css-logo:hover {
    color: #1E90FF;
}
#js-logo:hover {
    color: gold;
}
#react-logo:hover {
    color: #1E90FF;
}
#ruby-logo:hover {
    color: red;
}
#git-logo:hover {
    color: orange;
}
#python-logo:hover {
    color: seagreen;
}

#project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.project-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 1px 10px black;
    background-color: #FFFFFF;
}

.project-img-div {
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#gratis-img {
    background-image: url(../images/project-images/gratis-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#streetweary-img {
    background-image: url(../images/project-images/streetweary-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#reddart-img {
    background-image: url(../images/project-images/reddart-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#monster-hunters-guide-img {
    background-image: url(../images/project-images/monster-hunters-guide-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#cool-phrase-img {
    background-image: url(../images/project-images/cool-phrase-img-new.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-description {
    font-size: 1.2rem;
    width: 40%;
    padding-bottom: 20px;
}

.tech-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin-bottom: 30px;
}

.tech-list li {
    display: flex;
    justify-content: center;
    border: 1px solid #1E90FF;
    color: #000000;
    width: 20%;
    border-radius: 5px;
}

.project-links-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 20px;
}

.project-link {
    background-color: #1E90FF;
}
.project-link:hover {
    background-color: navy;
    padding-top: 5px;
    font-size: 1.03rem;
}

.github-link {
    background-color: #1E90FF;
}
.github-link:hover {
    background-color: navy;
    padding-top: 5px;
    font-size: 1.03rem;
}

#contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-color: #B47D4E;
    width: 100%;
    color: #FCF5E5;
}

#websites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding-bottom: 100px;
    margin-top: 30px;
}

.weblink {
    color: #FCF5E5;
}

.weblink:hover {
    color: #1E90FF;
}

#contact-divs-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    align-content: space-around;
    padding-bottom: 20px;
}

.contact-div {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.email {
    color: #FCF5E5;
    text-decoration: none;
}
.email:hover {
    color: #1E90FF;
}

.download {
    color: #FCF5E5;
    text-decoration: none;
}
.download:hover {
    color: #1E90FF;
}