body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    border-radius: 3px;
    width: 80%;
}

h1 {
    padding-left: 10px;
    font-size: 1.75rem;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-right: 10px;
    width: 30%;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h2 {
    font-size: 2rem;
    padding: 30px 0px;
}

#about-me-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
}

#description-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 70px;
}

#description {
    margin-left: 50px;
}

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 80px;
}

#websites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 50px;
}

.weblink {
    color: black;
}

.weblink:hover {
    color: Dodgerblue;
}

#skill-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h3 {
    font-size: 1.75rem;
}

#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
}

#html-logo:hover {
    color: orange;
}
#css-logo:hover {
    color: dodgerblue;
}
#js-logo:hover {
    color: gold;
}
#react-logo:hover {
    color: dodgerblue;
}
#ruby-logo:hover {
    color: red;
}
#git-logo:hover {
    color: orange;
}
#python-logo:hover {
    color: seagreen;
}

#project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    width: 100%;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-color: coral;
    width: 200%;
}